<h1>Edit Profile</h1>

<main class="form-wrapper" role="main">
  <form method="post" action="/users/<%= @user.id %>">
  <input type="hidden" name="_method" value="put">
    <label for="first_name">First name:</label>
    <input id="first_name" name="first_name" type="text" value="<%= @entry.try(:first_name) %>">

    

    <input type="submit" value="Update Entry" class="button">
  </form>
</main>