<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form id="registration-form" action='/users' method='POST'>
  First Name: <input type='text' name='first_name'/><br>
  Last Name: <input type='text' name='last_name'/><br>
  Email: <input type='email' name='email'><br>
  Password: <input type='password' name='password'/><br>
  <input type='submit' value='Submit'/>
</form>
